# ignore nextflow logs
.nextflow*

# ignore work directory
work/
# ignore default output directory
scpca_out/

# ignore scpca-references
scpca-references/

# ignore template htmls
main_qc_report.html
celltypes_supplemental_report.html
merged-report.html
*_qc.html

# ignore hidden `DS_Store`
.DS_Store

# pixi environments
.pixi
*.egg-info
