// global parameters for workflows
// parameters should be filled in with the correct paths to these files, here we provide examples

params {

  // Input data table
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'

  // Output base directory
  outdir = "s3://nextflow-ccdl-results/scpca/processed"

  // Spaceranger container, only needs to be updated if using spatial transcriptomics workflow
  SPACERANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-spaceranger:1.3.1'

}

// profile settings for executing the workflow, these are specific to your setup 
// this profile should be adjusted based on where you plan to run this workflow, here we provide an example of using slurm 
// for more information on setting up profiles see https://www.nextflow.io/docs/latest/config.html#config-profiles

profiles{
 slurm {
    process {
      executor = 'slurm'
      queue = 'normal'
    }
}

// enabling singularity 
// if you need to use singularity instead of docker, use the below setup, otherwise remove it from this template 

singularity {
    enabled = true 
    autoMounts = true 
    docker.enabled = false
}
