// global parameters for workflows
params {
  // Workflow metadata
  workflow_url = 'https://github.com/AlexsLemonade/scpca-nf'

  // Input data table
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'

  // Output base directory
  outdir = "s3://nextflow-ccdl-results/scpca/processed"

  // run_ids are comma separated list to be parsed into 
  // a list of run ids, library ids, and or sample_ids
  // or "All" to process all samples in the metadata file
  run_ids = "SCPCR000001,SCPCS000101,SCPCR000050,SCPCR000084"
  // to run all samples in a project use that project's submitter name
  project = ""

  // Processing options
  af_resolution = 'cr-like-em' // alevin-fry quant resolution method: default is cr-like, can also use full, cr-like-em, parsimony, and trivial
  repeat_mapping = false // if alevin or salmon mapping has already been performed and output files exist, mapping is skipped by default. Use `--repeat_mapping` to perform mapping again
  repeat_gdemux = false // if genetic demultiplexing has been performed and output files exist, genetic demux is skipped by default. Use `--repeat_gdemux` to run these steps. 
  
  seed = 2021   // random number seed for filtering (0 means use system seed)

  // Docker container images
  includeConfig 'config/containers.config'

  // reference and annotation parameters
  includeConfig 'config/reference_paths.config'

}


profiles{
  standard {
    process.executor = 'local'
    docker.enabled = true
  }
  // AWS batch profile
  batch {
    includeConfig 'config/profile_awsbatch.config'
  }
}
