// global parameters for workflows
includeConfig 'config/parameters.config'

profiles{
  standard {
    process.executor = 'local'
    docker.enabled = true
  }
  // AWS batch profile
  batch {
    bucketDir = 's3://nextflow-ccdl-data/work'
    aws{
      region = 'us-east-1'
      batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    // batch parameters
    includeConfig 'config/process.config'
  }
}
