[workspace]
authors = ["Joshua Shapiro <josh.shapiro@ccdatalab.org>"]
channels = ["conda-forge", "bioconda"]
name = "scpca-nf"
platforms = ["linux-64", "osx-64", "osx-arm64"]
version = "0.1.0"


[dependencies]
awscli = ">=2.31.37,<3"
nextflow = "25.10.*"
pre-commit = ">=4.4.0,<5"
prettier = ">=3.6.2,<4"


[feature.nfcore.dependencies]
nf-core = "3.*"


[feature.sbpack.dependencies]
python = "3.11.*"
nf-core = "2.1.*"
setuptools = ">=79.0.0,<80"
"ruamel.yaml" = ">=0.18.16,<0.19"

[feature.sbpack.pypi-dependencies]
sbpack = { git = "https://github.com/rabix/sbpack", tag = "2024.10.30" }

[environments]
default = ["nfcore"]
cavatica = ["sbpack"]


[tasks.login-nf-runner]
description = "Login to the Nextflow runner EC2 instance via AWS SSM."
cmd = "bash scripts/aws/login_nf_runner.sh"
