[workspace]
authors = ["Joshua Shapiro <josh.shapiro@ccdatalab.org>"]
channels = ["conda-forge", "bioconda"]
name = "scpca-nf"
platforms = ["linux-64", "osx-64", "osx-arm64"]
version = "0.1.0"


[dependencies]
awscli = ">=2.13.6,<3"
nextflow = ">=24.10.6,<25"
pre-commit = ">=4.2.0,<5"
prettier = ">=3.5.3,<4"


[feature.nfcore.dependencies]
nf-core = "3.*"


[feature.sbpack.dependencies]
python = "3.11.*"
nf-core = "2.1.*"
setuptools = ">=79.0.0,<80"

[feature.sbpack.pypi-dependencies]
sbpack = { git = "https://github.com/rabix/sbpack", tag = "2024.10.30" }

[environments]
default = ["nfcore"]
cavatica = ["sbpack"]


[tasks.nf-runner-login]
description = "Login to the Nextflow runner EC2 instance via AWS SSM."
cmd = """
aws_instance=$(aws ec2 describe-instances \
    --filters "Name=tag:Name,Values=Nextflow-runner" "Name=instance-state-name,Values=running" \
    --query "Reservations[0].Instances[0].InstanceId" \
    --output text);
aws ssm start-session \
  --target $aws_instance \
  --document-name AWS-StartInteractiveCommand \
  --parameters '{"command":["sudo su - ec2-user"]}'
"""
