params {
  // input file locations for CCDL1
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
  sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
  project_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-metadata.tsv'
  cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
  project_celltype_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv'

  // CCDL private containers needed for processes that use cellranger and spaceranger
  CELLRANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-cellranger:9.0.1'
  SPACERANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-spaceranger:1.3.1'
}
