// CCDL-specific profiles to run samples for ScPCA with internal paths
profiles {
  // AWS batch profiles
  batch {
    includeConfig 'profile_awsbatch.config'
  }
  batch_manual {
    includeConfig 'profile_awsbatch_manual.config'
  }

  // CCDL path profiles
  ccdl {
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://nextflow-ccdl-results/scpca/processed"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"
      cellbrowser_dir = "${params.outdir}/cellbrowser"

      // a set of run_ids for testing. used only by the main workflow
      // one single-cell with bulk, one CITE, one spatial, one multiplexed
      run_ids = "SCPCS000001,SCPCS000050,SCPCS000203,SCPCL000537"
    }
  }

  ccdl_staging {
    tower.enabled = true
    tower.workspaceId = '231452676847652'
    // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://nextflow-ccdl-results/scpca-staging"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"
      cellbrowser_dir = "${params.outdir}/cellbrowser"

      // staging runs always include celltyping
      perform_celltyping = true
    }
  }

  ccdl_prod {
    tower.enabled = true
    tower.workspaceId = '231452676847652'
    // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://nextflow-ccdl-results/scpca-prod"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"
      cellbrowser_dir = "${params.outdir}/cellbrowser"

      // production runs always include celltyping
      perform_celltyping = true
    }
  }
}
