// CCDL-specific profiles to run samples for ScPCA with internal paths
profiles {
  // AWS batch profiles
  batch {
    includeConfig 'profile_awsbatch.config'
  }

  // CCDL path profiles
  ccdl_testing {
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://ccdl-scpca-nf-results-testing/sandbox"
      ref_outdir = "s3://ccdl-scpca-nf-results-testing/references"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"

      // a set of run_ids for testing. used only by the main workflow
      // one single-cell with bulk, one CITE, one spatial, one multiplexed
      run_ids = "SCPCS000001,SCPCS000050,SCPCS000203,SCPCL000537"
    }
  }

  ccdl_staging {
    tower.enabled = true
    tower.workspaceId = '231452676847652'
    // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://ccdl-scpca-nf-results-staging"
      ref_outdir = "s3://scpca-nf-references"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"

      // staging runs always include celltyping and CNV
      perform_celltyping = true
      perform_cnv_inference = true
    }
  }

  ccdl_prod {
    tower.enabled = true
    tower.workspaceId = '231452676847652'
    // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
    // input files
    includeConfig 'ccdl_inputs.config'
    params {

      // output base directory
      outdir = "s3://ccdl-scpca-nf-results-prod"
      ref_outdir = "s3://scpca-nf-references"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"

      // production runs always include celltyping and CNV
      perform_celltyping = true
      perform_cnv_inference = true
    }
  }

  ccdl_portal_test {
    tower.enabled = true
    tower.workspaceId = '231452676847652'
    includeConfig 'ccdl_inputs.config'
    params {
      run_metafile = 's3://ccdl-scpca-nf-data/portal-test-data/run-metadata.tsv'
      sample_metafile = 's3://ccdl-scpca-nf-data/portal-test-data/sample-metadata.tsv'
      cellhash_pool_file = 's3://ccdl-scpca-nf-data/portal-test-data/multiplex-pools.tsv'
      project_celltype_metafile = 's3://ccdl-scpca-nf-data/portal-test-data/project-celltype-metadata.tsv'

      // output base directory
      outdir = "s3://ccdl-scpca-nf-results-testing/portal-test-data"

      // paths to output folders, redefined to use `outdir` above
      checkpoints_dir = "${params.outdir}/checkpoints"
      results_dir = "${params.outdir}/results"

      // portal test projects
      project = "SCPCP999990,SCPCP999991,SCPCP999992"
      perform_celltyping = true
    }
  }
}
