// input file locations for CCDL
params {
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
  sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
  project_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-metadata.tsv'
  cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
  project_celltype_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv'
}
