params {
  // Docker container images
  SCPCATOOLS_CONTAINER = 'ghcr.io/alexslemonade/scpcatools:edge'
  SCPCATOOLS_SLIM_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-slim:edge'
  SCPCATOOLS_ANNDATA_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-anndata:edge'
  SCPCATOOLS_REPORTS_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-reports:edge'
  SCPCATOOLS_SEURAT_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-seurat:edge'
  SCPCATOOLS_SCVI_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-scvi:edge'

  ALEVINFRY_CONTAINER = 'quay.io/biocontainers/alevin-fry:0.7.0--h9f5acd7_1'
  BCFTOOLS_CONTAINER = 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0'
  CELLSNP_CONTAINER = 'quay.io/biocontainers/cellsnp-lite:1.2.2--h22771d5_0'
  CELLBROWSER_CONTAINER = 'community.wave.seqera.io/library/pip_cellbrowser_scanpy:7c29c6577e6075f0'
  FASTP_CONTAINER = 'quay.io/biocontainers/fastp:0.23.0--h79da9fb_0'
  SALMON_CONTAINER = 'quay.io/biocontainers/salmon:1.9.0--h7e5ed60_1'
  SAMTOOLS_CONTAINER = 'quay.io/biocontainers/samtools:1.14--hb421002_0'
  STAR_CONTAINER = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
  TIDYVERSE_CONTAINER = 'rocker/tidyverse:4.4.0'
  VIREO_CONTAINER = 'ghcr.io/alexslemonade/vireo-snp:v0.5.7'

  // 10X software containers not set by default
  CELLRANGER_CONTAINER = null
  SPACERANGER_CONTAINER = null
}
