params {
  // Docker container images
  // Data Lab-managed containers
  SCPCATOOLS_CONTAINER = 'ghcr.io/alexslemonade/scpcatools:v0.4.4'
  SCPCATOOLS_SLIM_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-slim:v0.4.4'
  SCPCATOOLS_ANNDATA_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-anndata:v0.4.4'
  SCPCATOOLS_REPORTS_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-reports:v0.4.4'
  SCPCATOOLS_SEURAT_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-seurat:v0.4.4'
  SCPCATOOLS_SCVI_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-scvi:v0.4.4'
  SCPCATOOLS_SCIMILARITY_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-scimilarity:v0.4.4'
  SCPCATOOLS_INFERCNV_CONTAINER = 'ghcr.io/alexslemonade/scpcatools-infercnv:v0.4.4'

  CELLBROWSER_CONTAINER = 'ghcr.io/alexslemonade/scpca-nf/cellbrowser:v0.9.1'
  VIREO_CONTAINER = 'ghcr.io/alexslemonade/scpca-nf/vireo-snp:v0.9.1'

  // External containers
  ALEVINFRY_CONTAINER = 'quay.io/biocontainers/alevin-fry:0.7.0--h9f5acd7_1'
  BCFTOOLS_CONTAINER = 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0'
  CELLSNP_CONTAINER = 'quay.io/biocontainers/cellsnp-lite:1.2.2--h22771d5_0'
  FASTP_CONTAINER = 'quay.io/biocontainers/fastp:0.23.0--h79da9fb_0'
  SALMON_CONTAINER = 'quay.io/biocontainers/salmon:1.9.0--h7e5ed60_1'
  SAMTOOLS_CONTAINER = 'quay.io/biocontainers/samtools:1.14--hb421002_0'
  STAR_CONTAINER = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
  TIDYVERSE_CONTAINER = 'rocker/tidyverse:4.4.0'

  // 10x software containers not set by default
  CELLRANGER_CONTAINER = null
  SPACERANGER_CONTAINER = null
}
