params {
  // pullthrough registry for caching images
  // disabled by default by setting to empty string
  pullthrough_registry = ''

  // Docker container images
  // Data Lab-managed containers
  scpcatools_container = 'ghcr.io/alexslemonade/scpcatools:edge'
  scpcatools_slim_container = 'ghcr.io/alexslemonade/scpcatools-slim:edge'
  scpcatools_anndata_container = 'ghcr.io/alexslemonade/scpcatools-anndata:edge'
  scpcatools_reports_container = 'ghcr.io/alexslemonade/scpcatools-reports:edge'
  scpcatools_seurat_container = 'ghcr.io/alexslemonade/scpcatools-seurat:edge'
  scpcatools_scvi_container = 'ghcr.io/alexslemonade/scpcatools-scvi:edge'
  scpcatools_scimilarity_container = 'ghcr.io/alexslemonade/scpcatools-scimilarity:edge'
  scpcatools_infercnv_container = 'ghcr.io/alexslemonade/scpcatools-infercnv:edge'

  CELLBROWSER_CONTAINER = 'ghcr.io/alexslemonade/scpca-nf/cellbrowser:v0.9.2'
  VIREO_CONTAINER = 'ghcr.io/alexslemonade/scpca-nf/vireo-snp:v0.9.2'

  // External containers
  alevinfry_container = 'quay.io/biocontainers/alevin-fry:0.7.0--h9f5acd7_1'
  bcftools_container = 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0'
  cellsnp_container = 'quay.io/biocontainers/cellsnp-lite:1.2.2--h22771d5_0'
  fastp_container = 'quay.io/biocontainers/fastp:0.23.0--h79da9fb_0'
  salmon_container = 'quay.io/biocontainers/salmon:1.9.0--h7e5ed60_1'
  samtools_container = 'quay.io/biocontainers/samtools:1.14--hb421002_0'
  star_container = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
  tidyverse_container = 'docker.io/rocker/tidyverse:4.4.0'

  // 10x software containers not set by default
  cellranger_container = null
  spaceranger_container = null
}
