process{
  executor = 'awsbatch'
  queue = 'nextflow-batch-default-queue'
  // following options from nf-core
  errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
  memory = { 4.GB * task.attempt }
  // batch parameters
  withLabel: mem_8 {
    memory = { 8.GB * task.attempt}
  }
  withLabel: cpus_12 {
    cpus = 12
    memory = { 24.GB * task.attempt}
  }
  withLabel: cpus_8 {
    cpus = 8
    memory = { 16.GB * task.attempt}
  }
  withLabel: disk_big {
    queue = 'nextflow-batch-bigdisk-queue'
  }
  withLabel: disk_dynamic {
    queue = { task.attempt < 2 ? 'nextflow-batch-default-queue' : 'nextflow-batch-bigdisk-queue'}
  }
}
