// stub config file for running the pipeline locally

process.executor = 'local'
docker.enabled = false


params{
  max_cpus = 2
  max_memory = 1.GB

  run_metafile = 'test/stub-metadata.tsv'
  cellhash_pool_file = 'test/stub-pools.tsv'
  outdir = "test/output"
  run_ids = "All"

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // path to reference files
  ref_json = "test/stub-refs.json"
  ref_rootdir = 'test/references'

  // barcode files
  barcode_dir      = "${params.ref_rootdir}/barcodes/10X"
}

