workDir = 's3://nextflow-ccdl-data/work'

aws{
  region = 'us-east-1'
  batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}

process{
  executor = 'awsbatch'
  // default queue has 128GB local disks
  queue = { task.attempt < 2 ? 'nextflow-batch-default-queue' : 'nextflow-batch-bigdisk-queue'}
  withLabel: disk_big {
    // bigdisk queue has 1000GB local disks
    queue = 'nextflow-batch-bigdisk-queue'
  }
}
