// CCDL-specific settings to run samples for ScPCA with internal paths

// AWS batch profiles
batch {
  includeConfig 'profile_awsbatch.config'
}
batch_manual {
  includeConfig 'profile_awsbatch_manual.config'
}

// CCDL path profiles
ccdl {
  params {
    // input files
    run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
    sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
    cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
    project_celltype_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv'

    // output base directory
    outdir = "s3://nextflow-ccdl-results/scpca/processed"

    // paths to output folders, redefined to use `outdir` above
    checkpoints_dir = "${params.outdir}/checkpoints"
    results_dir = "${params.outdir}/results"

    // a set of run_ids for testing. used only by the main workflow
    // one single-cell with bulk, one CITE, one spatial, one multiplexed
    run_ids = "SCPCS000001,SCPCS000050,SCPCS000203,SCPCL000537"

    // include a sample project for merging. used only by the merged workflow
    merge_run_ids = "SCPCP000016"

  }
}

ccdl_staging {
  tower.enabled = true
  tower.workspaceId = '231452676847652' // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
  params {
    // input files
    run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
    sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
    cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
    project_celltype_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv'

    // output base directory
    outdir = "s3://nextflow-ccdl-results/scpca-staging"

    // paths to output folders, redefined to use `outdir` above
    checkpoints_dir = "${params.outdir}/checkpoints"
    results_dir = "${params.outdir}/results"

    // staging runs always include celltyping
    perform_celltyping = true
  }
}

ccdl_prod {
  resume = true // prod runs should always use resume to avoid reprocessing
  tower.enabled = true
  tower.workspaceId = '231452676847652' // https://cloud.seqera.io/orgs/CCDL/workspaces/ScPCA/watch
  params {
    // input files
    run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
    sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
    cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
    project_celltype_metafile = 's3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv'

    // output base directory
    outdir = "s3://nextflow-ccdl-results/scpca-prod"

    // paths to output folders, redefined to use `outdir` above
    checkpoints_dir = "${params.outdir}/checkpoints"
    results_dir = "${params.outdir}/results"

    // production runs always include celltyping
    perform_celltyping = true
  }
}
