workDir = 's3://nextflow-ccdl-data/work'

aws{
  batch{
    cliPath = '/home/ec2-user/miniconda/bin/aws'
    maxTransferAttempts = 2
    volumes = [
      '/ebs-autoscale:/tmp'
    ]
    maxSpotAttempts = 2
  }
  region = 'us-east-1'
}


process{
  executor = 'awsbatch'
  queue = { task.attempt < 2 ? 'nextflow-batch-autoscale-queue' : 'nextflow-batch-priority-queue'}
}
