// Settings to re-generate example scpca-nf output

params {
  run_metafile = "s3://scpca-nf-references/example-data/example_run_metadata.tsv"
  sample_metafile = "s3://scpca-nf-references/example-data/example_sample_metadata.tsv"
  project_celltype_metafile = "s3://scpca-nf-references/example-data/example_project_celltype_metadata.tsv"
  cellhash_pool_file = "s3://scpca-nf-references/example-data/example_multiplex_pools.tsv"

  // This will be the real output directory, but for now we want to the output bucket
  // outdir = "s3://scpca-nf-references/example-data/scpca_out"

  // output bucket test
  outdir = "s3://ccdl-scpca-results-testing-997241705947-us-east-1/example-data/scpca_out_test"

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // the example run_ids
  run_ids = "run01"

  // celltyping off
  perform_celltyping = false
}
