bucketDir = 's3://nextflow-ccdl-data/work'
aws{
  region = 'us-east-1'
  batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}
process{
  executor = 'awsbatch'
  queue = 'nextflow-batch-default-queue'
  memory = { 4.GB * task.attempt }
  
  errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  withLabel: mem_8 {
    memory = { 8.GB * task.attempt }
  }
  withLabel: mem_16 {
    memory = { 16.GB * task.attempt }
  }
  withLabel: mem_24 {
    memory = { 24.GB * task.attempt }
  }
  withLabel: mem_32 {
    memory = { 32.GB * task.attempt }
  }
  withLabel: cpus_2  { cpus = 2 }
  withLabel: cpus_4  { cpus = 4 }
  withLabel: cpus_8  { cpus = 8 }
  withLabel: cpus_12 { cpus = 12 }

  withLabel: disk_big {
    queue = 'nextflow-batch-bigdisk-queue'
  }
  withLabel: disk_dynamic {
    queue = { task.attempt < 2 ? 'nextflow-batch-default-queue' : 'nextflow-batch-bigdisk-queue'}
  }
}
