workDir = 's3://nextflow-ccdl-data/work'

aws{
  batch{
    cliPath = '/home/ec2-user/miniconda/bin/aws'
    volumes = [
      '/ebs-autoscale:/tmp'
    ]
  }
  region = 'us-east-1'
}

process{
  executor = 'awsbatch'
  // default queue has 128GB local disks
  queue = 'nextflow-batch-default-queue'
  withLabel: disk_big {
    // bigdisk queue has 1000GB local disks
    queue = 'nextflow-batch-bigdisk-queue'
  }
  withLabel: disk_dynamic {
    queue = { task.attempt < 2 ? 'nextflow-batch-default-queue' : 'nextflow-batch-bigdisk-queue'}
  }
}
