// stub config file for running the pipeline locally

process.executor = 'local'


params {
  process.resourceLimits = [cpus: 4, memory: 1.GB]
  run_metafile = 'test/stub-run-metadata.tsv'
  sample_metafile = 'test/stub-sample-metadata.tsv'
  project_metafile = 'test/stub-project-metadata.tsv'
  cellhash_pool_file = 'test/stub-pools.tsv'
  project_celltype_metafile = 'test/stub-celltype-project-metadata.tsv'
  outdir = 'test/output'
  run_ids = 'All'

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // path to reference files
  ref_json = "test/stub-refs.json"
  ref_rootdir = 'test/references'

  // this is needed for testing building refs
  celltype_organism = "stub"

  // cell type metadata for building references
  celltype_ref_metadata = "test/stub-celltype-reference-metadata.tsv"

  // cell type references directories
  celltype_ref_dir = "${params.ref_rootdir}/celltype"
  // output from save_singler_refs() process
  singler_references_dir = "${params.celltype_ref_dir}/singler_references"
  // output from train_singler_models() process, and input to classify_singler()
  singler_models_dir = "${params.celltype_ref_dir}/singler_models"
  // output from generating cell assign reference matrices, and input to classify_cellassign()
  cellassign_ref_dir = "${params.celltype_ref_dir}/cellassign_references"

  // barcode files
  barcode_dir = "${params.ref_rootdir}/barcodes/10X"
}
