// CCDL-specific settings to run samples for ScPCA with internal paths

params{
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
  sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
  cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
  outdir = "s3://nextflow-ccdl-results/scpca/processed"

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // a set of run_ids for testing
  run_ids = "SCPCR000001,SCPCS000101"

  // cell type references and SingleR label of interest
  project_celltype_metafile = "s3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv"

  // Private CCDL containers
  CELLRANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-cellranger:6.1.2'
  SPACERANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-spaceranger:1.3.1'
}
