// CCDL-specific settings to run samples for ScPCA with internal paths

params{
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
  sample_metafile = 's3://ccdl-scpca-data/sample_info/scpca-sample-metadata.tsv'
  cellhash_pool_file = 's3://ccdl-scpca-data/sample_info/scpca-multiplex-pools.tsv'
  outdir = "s3://nextflow-ccdl-results/scpca/processed"

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // a set of run_ids for testing
  run_ids = "SCPCR000001,SCPCS000101"
  // include all runs in a merged project
  merge_run_ids = "All"

  // cell type references
  project_celltype_metafile = "s3://ccdl-scpca-data/sample_info/scpca-project-celltype-metadata.tsv"

  // set max cpus and memory for internal use
  max_cpus = 64
  max_memory = 256.GB
}
