// stub config file for running the pipeline locally

process.executor = 'local'


params{
  max_cpus = 2
  max_memory = 1.GB

  run_metafile = 'test/stub-run-metadata.tsv'
  sample_metafile = 'test/stub-sample-metadata.tsv'
  cellhash_pool_file = 'test/stub-pools.tsv'
  celltype_project_metafile = 'test/stub-celltype-project-metadata.tsv'
  outdir = 'test/output'
  run_ids = 'All'

  // paths to output folders, redefined to use `outdir` above
  checkpoints_dir = "${params.outdir}/checkpoints"
  results_dir = "${params.outdir}/results"

  // path to reference files
  ref_json = "test/stub-refs.json"
  ref_rootdir = 'test/references'
  
  // paths to celltype reference files
  celltype_ref_dir = "${params.ref_rootdir}/stub/celltype"
  singler_models_dir = "${params.celltype_ref_dir}/singler_models"
  cellassign_ref_dir = "${params.celltype_ref_dir}/cellassign_references"


  // barcode files
  barcode_dir      = "${params.ref_rootdir}/barcodes/10X"
}

