// CCDL-specific settings to run samples for ScPCA with internal paths

params{
  run_metafile = 's3://ccdl-scpca-data/sample_info/scpca-library-metadata.tsv'
  outdir = "s3://nextflow-ccdl-results/scpca/processed"

  // a set of run_ids for testing
  run_ids = "SCPCR000001,SCPCS000101"

  //
  CELLRANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-cellranger:6.1.2'
  SPACERANGER_CONTAINER = '589864003899.dkr.ecr.us-east-1.amazonaws.com/scpca-spaceranger:1.3.1'
}

