// path to reference files
ref_json     = "${projectDir}/references/scpca-refs.json"
ref_metadata = "${projectDir}/references/ref-metadata.tsv"
ref_rootdir  = 's3://scpca-references'

// barcode files
barcode_dir  = "${params.ref_rootdir}/barcodes/10X"

// cell type references directories
celltype_organism = "Homo_sapiens.GRCh38.104"
celltype_ref_dir = "${params.ref_rootdir}/celltype"
// output from save_singler_refs() process
singler_references_dir = "${params.celltype_ref_dir}/singler_references"
// output from train_singler_models() process
singler_models_dir = "${params.celltype_ref_dir}/singler_models"
// output from generating cell assign reference matrices
cellassign_ref_dir = "${params.celltype_ref_dir}/cellassign_references"

// cell type metadata
celltype_ref_metadata = "${projectDir}/references/celltype-reference-metadata.tsv"
panglao_marker_genes_file = "${projectDir}/references/PanglaoDB_markers_27_Mar_2020.tsv"
