// path to reference files
ref_json = "$projectDir/references/scpca-refs.json"
ref_metadata = "$projectDir/references/ref-metadata.tsv"
ref_rootdir      = 's3://scpca-references'



// barcode files
barcode_dir      = "${params.ref_rootdir}/barcodes/10X"

// cell type references
celltype_ref_dir = "${params.ref_rootdir}/celltype/references"
celltype_model_dir = "${params.ref_rootdir}/celltype/singler_models"
