params {
  // path to reference files
  ref_json = "${projectDir}/references/scpca-refs.json"
  ref_metadata = "${projectDir}/references/ref-metadata.tsv"
  ref_rootdir = 's3://scpca-references'

  // barcode files
  barcode_dir = "${params.ref_rootdir}/barcodes/10X"

  // organism name to use for cell type annotation
  // name must match one of the keys in ref_json
  celltype_organism = "Homo_sapiens.GRCh38.104"

  // cell type references directories
  celltype_ref_dir = "${params.ref_rootdir}/celltype"

  // populated by `build-celltype-ref.nf`, this stores the unaltered reference datasets
  //  from `celldex`. This is not used in `main.nf`.
  singler_references_dir = "${params.celltype_ref_dir}/singler_references"

  // These directories hold the default SingleR and CellAssign reference files to use during cell typing
  // they are populated by `build-celltype-ref.nf` and consumed by `main.nf` during cell typing
  singler_models_dir = "${params.celltype_ref_dir}/singler_models"
  cellassign_ref_dir = "${params.celltype_ref_dir}/cellassign_references"

  // Reference file used for assigning ontology IDs for CellAssign results and consensus cell types
  // Originally created in the `cell-type-consensus` module of `OpenScPCA-analysis`
  panglao_ref_file = "${projectDir}/references/panglao-cell-type-ontologies.tsv"
  consensus_ref_file = "${projectDir}/references/consensus-cell-type-reference.tsv"
  validation_groups_file = "${projectDir}/references/consensus-validation-groups.tsv"
  validation_markers_file = "${projectDir}/references/validation-markers.tsv"
  validation_palette_file = "${projectDir}/templates/palettes/validation-group-palette.tsv"

  // cell type metadata for building references in `build-celltype-ref.nf`; not used by main workflow
  celltype_ref_metadata = "${projectDir}/references/celltype-reference-metadata.tsv"
  panglao_marker_genes_file = "${projectDir}/references/PanglaoDB_markers_2020-03-27.tsv"
}
