// user_template.config
// An example template for use with the scpca-nf Nextflow workflow.


/*
Global parameters for scpca-nf
------------------------------
The values presented here are examples, and should be replaced with 
the correct paths to any indicated files or other values that need to be set.
*/

params.run_metafile = 'example_metadata.tsv' // Input data table

params.outdir = "scpca_out" // Output base directory for results

params.run_ids = "All"  // Which samples or libraries to process
/*
Note: Although the name of this parameter is `run_ids`, any ids found in 
  `scpca_run_id`, `scpca_library_id`, or `scpca_sample_id` can be used.
  By default this is set to "All", but to change to a specific subset,
  use a comma separated list e.g., "SCPCR000001,SCPCR000002"
  Optionally, `run_ids` can be set at the command line with `--run_ids SCPCR000003`
*/

// Spaceranger container, only required if using spatial transcriptomics workflow
params.SPACERANGER_CONTAINER = ''


/*
Profile settings for the workflow execution environment
-------------------------------------------------------
Here we provide an example using slurm as the executor system. 
For information about available process executors and their options, see https://www.nextflow.io/docs/latest/executor.html
This profile should be adjusted based on the details of your system and can be invoked at runtime with 
`-profile cluster` (or whatever name you have chosen)

For more information on setting up profiles see https://www.nextflow.io/docs/latest/config.html#config-profiles
*/

profiles{
 cluster {
    process {
      executor = 'slurm'
      // queue name for your cluster
      queue = 'normal'
      // optionally set the location for process working files
      // the below setting assumes an environment variable $SCRATCH is set on your cluster
      scratch = "$SCRATCH"
      // if your HPC requires software to be loaded as a module, otherwise this line can be removed
      beforeScript = 'module load singularity'
    }
    // singularity is often required on HPC in place of docker
    singularity {
      enabled = true 
      autoMounts = true 
    }
    docker.enabled = false
  }
}

