// To use this config file at runtime use the following command:
// `nextflow run AlexsLemonade/scpca-nf -c user_template.config -profile slurm`
// Note that if you change the profile name you will have to use the name you chose in place of slurm.

// global parameters for workflows
// parameters should be filled in with the correct paths to these files, here we provide examples
params {

  // Input data table
  run_metafile = 'example_metadata.tsv'

  // Output base directory for results
  outdir = "scpca_out"

  // which samples or libraries to process
  // although the name of the parameter is `run_ids`, any ids found in `scpca_run_id`, `scpca_library_id`, or `scpca_sample_id` can be used as input
  // by default this is set to all, but to change to a specific subset input a comma separated list e.g., "SCPCR000001,SCPCR000002"
  run_ids = "All"

  // Spaceranger container, only required if using spatial transcriptomics workflow
  SPACERANGER_CONTAINER = ''

}

// profile settings for executing the workflow
// Here we provide an example using slurm as the executor system. 
// For information about available process executors,  and their options, see https://www.nextflow.io/docs/latest/executor.html
// This profile should be adjusted based on the details of your system and can be invoked at runtime with 
// `--profile slurm` (or whatever name you have chosen)
// For more information on setting up profiles see https://www.nextflow.io/docs/latest/config.html#config-profiles

profiles{
 slurm {
    process {
      executor = 'slurm'
      // queue name for your cluster
      queue = 'normal'
      // optionally set the location for process working files
      // the below setting assumes an environment variable $SCRATCH is set on your cluster
      scratch = "$SCRATCH"
    }
    // singularity is often required on HPC in place of docker
    singularity {
      enabled = true 
      autoMounts = true 
    }
    docker.enabled = false
}

