name: Build Docker image scpca-nf/vireo-snp

concurrency:
  # only one run per branch at a time
  group: "docker_vireo-snp_${{ github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - development
    paths:
      - "docker/vireo-snp/Dockerfile"
      - "docker/vireo-snp/.dockerignore"
      - "docker/vireo-snp/pixi.lock"
  push:
    branches:
      - main
      - development
    paths:
      - "docker/vireo-snp/Dockerfile"
      - "docker/vireo-snp/.dockerignore"
      - "docker/vireo-snp/pixi.lock"
    tags:
      - "v*.*.*"

env:
  REGISTRY: ghcr.io
  REGISTRY_USER: alexslemonade
  IMAGE_NAME: scpca-nf/vireo-snp

jobs:
  test-build:
    name: Test Build Docker Image
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:docker/vireo-snp"
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-push:
    name: Build and Push Docker Image
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_USER }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{raw}}
            type=edge,branch=main
            type=ref,event=branch

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:docker/vireo-snp"
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
