name: Check nextflow stub

on:
  pull_request:
    branches:
      - main
      - development
      - 10x-flex-support

jobs:
  nf-stub-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "corretto"

      - name: Setup Nextflow
        #   uses: nf-core/setup-nextflow@v2
        # manual install as the action is currently broken
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Check Nextflow workflow
        run: nextflow -log stub-run.log run main.nf -stub -profile stub -ansi-log false

      - name: Check Nextflow with checkpoints from previous run
        run: nextflow -log checkpoint-run.log run main.nf -stub -profile stub -ansi-log false

      - name: Check Nextflow workflow for building cell type references
        run: nextflow -log celltype-ref-run.log run build-celltype-ref.nf -stub -profile stub -ansi-log false

      - name: Check Nextflow workflow for merging objects
        run: nextflow -log merge-run.log run merge.nf -stub -profile stub -ansi-log false --project STUBP01

      - name: Join log files
        if: ${{ !cancelled() }}
        run: cat stub-run.log checkpoint-run.log celltype-ref-run.log merge-run.log > nextflow-runs.log

      - name: Upload nextflow log
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextflow-log
          path: nextflow-runs.log
